[submodule "containers"]
	path = containers
	url = https://github.com/sumofat/OdinContainers.git
[submodule "libs/cgltf"]
	path = libs/cgltf
	url = https://github.com/jkuhlmann/cgltf.git
[submodule "libs/odin_cgltf"]
	path = libs/odin_cgltf
	url = https://github.com/sumofat/odin_cgltf.git
